main {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
    & .card {
        background-color: var(--color);
        border-radius: 1rem;
        padding: 0.5rem;

        & p {
            font-weight: 600;
            color: var(--white);
        }
    }
}